@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: modal-fade-in;
  animation-duration: 0.5s;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  > .modal {
    background-color: #ffffff;
    border-radius: 12px;
    width: calc(100% - 80px);
    max-width: 500px;
    max-height: 80vh;
    animation-name: modal-fade-in;
    animation-duration: 0.5s;
    opacity: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 40px;

    .header {
      padding: 1rem;
      background-color: #ffffff;
      z-index: 7;
      position: relative;
      border-bottom: 1px solid #eaeaea;
      
      .close-button-wrapper {
        display: flex;
        justify-content: flex-end;
        
        .close-button {
          position: relative;
          z-index: 3;
          width: 24px;
          height: 24px;
          border: none;
          background: transparent;
          cursor: pointer;
          
          &::before {
            content: "";
            width: 2px;
            height: 16px;
            background-color: #666;
            position: absolute;
            transform: rotate(45deg);
            top: 4px;
            left: 50%;
          }
          &::after {
            content: "";
            width: 2px;
            height: 16px;
            background-color: #666;
            position: absolute;
            transform: rotate(135deg);
            top: 4px;
            left: 50%;
          }
        }
      }
    }
    
    .content {
      padding: 1.5rem;
      max-height: 70vh;
      overflow: auto;
    }
    
    .footer {
      padding: 1rem;
      border-top: 1px solid #eaeaea;
    }
  }
}

